@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url('styles/NunitoSans-ExtraLight.ttf');
    src: url('styles/NunitoSans-ExtraLight.ttf') format('embedded-opentype'),
}
header, aside, article, footer {
    font-family: 'NunitoSans-ExtraLight';
}
header a, aside a {
    text-decoration: none;
    color: orangered;
}
header a:hover {
    transition: 0.5s;
    color: white;
}
aside a:hover {
    transition: 0.5s;
    color: black;
}
body {
    height: 1200px;
    background: rgb(30,30,30);
    margin: 0;
    padding: 0;
}
header {
    
    height: 8.3%;
    width: 100%;
    background: rgb(30,30,30);
    border-bottom: solid white 1px;
}
header h1 {
    color: orangered;
    margin: 0;
    text-align: center;
}
header h2 {
    text-align: center;
}
.btn-primary {
    background-color: orangered;
    border-color: black;
    transition: 0.5s;
}
.btn-primary:hover {
    background-color: grey;
    border-color: black;
    transition: 0.5s;
}
.btn-primary:focus {
    background-color: white;
    color: black;
    border-color: black;
    box-shadow: none;
}
main {
    height: 950px;
    background: green;
    width: 100%;
    display: flex;
}
aside {
    height: 100%;
    background: rgb(30,30,30);
    width: 15%;
    box-sizing: border-box;
    border-right: solid 1px white;
    color: orangered;
}
aside h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
article {
    height: 100%;
    background: grey;
    width: 85%;
}
article h1 {
    margin: 0;
    padding: 35px;
}
article p {
    margin: 0;
    padding: 35px;
    font-size: 30px;
}
footer {
    height: 150px;
    background: rgb(30,30,30);
    border-top: solid white 1px;
}
footer h1 {
    color: orangered;
    margin: 0;
    text-align: center;
}
aside h1 {
    width: 100%;
    text-align: center;
}
li {
    width: 100%;
    border-top: solid white 1px;
    list-style: none;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    transition: 0.5s;
}
li:hover {
    background: white;
}
#lastLi {
    border-bottom: solid 1px white;
}


