@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url('NunitoSans-ExtraLight.ttf');
    src: url('NunitoSans-ExtraLight.ttf') format('embedded-opentype'),
}
header, aside, article, footer {
    font-family: 'NunitoSans-ExtraLight';
}
header a, aside a {
    text-decoration: none;
    color: orangered;
    transition: 0.5s;
}
header a:hover {
    transition: 0.5s;
    color: white;
}
aside a:hover {
    transition: 0.5s;
    color: black;
}
article a {
    text-decoration: none;
    color: rgb(30,30,30);
    transition: 0.5s;
}
body {
    height: 1200px;
    background: rgb(30,30,30);
    margin: 0;
    padding: 0;
}
header {
    
    height: 8.3%;
    width: 100%;
    background: rgb(30,30,30);
    border-bottom: solid white 1px;
}
header h1 {
    color: orangered;
    margin: 0;
    text-align: center;
}
#adopte-button {
    width: 100%;
    display: flex;
    color: orangered;
}
#adopte-button h2:nth-child(1) {
    width: auto;
    margin: auto;
}
#button-login h2 {
    width: auto;
    position: absolute;
    right: 60px;
    top: 68px;
}
#button-login img {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
}
main {
    height: 950px;
    background: green;
    width: 100%;
    display: flex;
}
aside {
    height: 100%;
    background: rgb(30,30,30);
    width: 15%;
    box-sizing: border-box;
    border-right: solid 1px white;
    color: orangered;
}
aside h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
article {
    height: 100%;
    background: grey;
    width: 85%;
}
article figure {
    height: 125px;
    width: 125px;
    background:rgb(30,30,30);
    display: inline-flex;
    justify-content: space-between 10px;
    padding: 0px;
    margin-left: 5.35%;
    margin-right: 5.35%;
    margin-bottom: 3%;
    margin-top: 3.5%;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.5s;
    border: orangered solid 2px;
}
article figure:hover {
    background: orangered;
    border: white solid 2px;
    transition: 0.5s;
}
footer {
    height: 150px;
    background: rgb(30,30,30);
    border-top: solid white 1px;
}
footer h1 {
    color: orangered;
    margin: 0;
    text-align: center;
}
aside h1 {
    width: 100%;
    text-align: center;
}
li {
    width: 100%;
    border-top: solid white 1px;
    list-style: none;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    transition: 0.5s;
}
li:hover {
    background: white;
}
#lastLi {
    border-bottom: solid 1px white;
}
